.contact h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 70px;
}

.contact h1 span{
    color: rgb(248, 49, 89);
}

.contact .contact-desc{
    color: white;
    text-align: center;
    margin-top: -80px;
}

.contact .contact-desc h2{
    font-size: 2rem;
}

.contact .contact-desc p{
    font-size: 1.5rem;
    margin: 20px;
}



/* universal */

.contact .contact-form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* universal ends here */


/* form */
.contact form input{
    display: grid;
    margin: 7px;
    padding: 0.6rem 2rem;
    width: 300px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 6px  crimson;
    

}

.contact .input-form .input-join{
    display: flex;
    align-items: center;
    gap: 7px;
    
}

.contact form input[name="subject"]{
    width: 620px;
    
    
}

.contact form textarea{
    margin-top: 9px;
    margin: 7px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 10px crimson;
}

.contact form button{
    padding: 0.5rem 2.2rem;
    margin: 7px;
    border-radius: 10px;
    background-color: rgb(248, 49, 89);
    color: white;
    font-size: 1.2rem;
}

.contact form .button{
    padding-left: 240px;
}


.contact form .images{
    
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 30px;
}


.contact img{
    border-radius: 20px;
    width: 40px;
    margin: 40px;
    transition: 1s;

}

.contact img:hover{
    transform: scale(1.2);
    color: green;
    box-shadow: 0px 0px 10px crimson;
}


.contact form .images .x,
.contact form .images .git{
    background-color: white;
}

.contact form .images .link{
    width: 50px;
}
