

.head-nav .fa-gear{
    color: white;
    font-size: 2rem;
    color: crimson;
    animation: lds-hourglass 1.2s infinite;
}



@keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }




.head-nav h2{
 color: white;
}

.head-nav{
  display: flex;
justify-content: center;
margin-top: 30px;

}

.head-nav .fa-time{
    display: flex;
    align-items: center;
   /* justify-content: space-between; */
   /* margin-top: 30px; */
   position:fixed;
   gap: 400px;
   z-index: 1;
 
   ;
     
  


   
}



.home-nav a{
  color: rgb(118, 23, 207);
  
}

.head-nav a:hover{
  color: white;
  text-decoration: underline;
  
}

/* Nav starts here */

.home-nav nav ul{
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.4rem;


}

.home-nav .nav-icons{
  display: flex;
  align-items: center;
  gap: 5px;
}


.home-nav .fa-home,
 .home-nav .fa-user,
 .home-nav .fa-toolbox,
 .home-nav .fa-envelope-open
{

 
  padding: 5px;
  transition: 1s;
  font-size: 1rem;
  color: grey;
}

.home-nav .fa-home{
  
  /* color: white; */
}



.home-nav .fa-solid:hover{
color: white;
}


/* Nav ends here */
