*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scrollbar-color: rgb(129, 127, 127) rgb(32, 32, 31);
    scroll-behavior: smooth;
  
}

body{
   background-color: black;
}

